---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
    margin: 0 auto; 
}

.main-content {
    display: flex;
    align-items: flex-start;
}

.content {
    width: 50%;
    margin: 0 auto;
    margin-right: 20%
}

.logo {
    margin: 20px;
    max-width: 150px;
    max-height: 150px;
    flex-shrink: 0;
}